%a{ :href => 'http://evening-ocean-1303.heroku.com/', :title => 'Link to "Svenska Flash Cards"', :class => "share" }
  = image_tag "share-qr-code.jpg", :alt => "QR-Code for http://evening-ocean-1303.heroku.com", :width => "280", :height => "280"
%a{ :href => 'http://evening-ocean-1303.heroku.com/', :title => 'Link to "Svenska Flash Cards"', :class => "share" }
  http://evening-ocean-1303.heroku.com/
  
:css
  .share {
    display: block;
    text-align: center;
  }
  
  .share img {
    margin-top: 20px;
  }