%a{ :href => 'http://svenska-app.heroku.com/', :title => 'Link to "Svenska Flash Cards"', :class => "share" }
  = image_tag "share-qr-code.jpg", :alt => "QR-Code for http://svenska-app.heroku.com", :width => "280", :height => "280"
%a{ :href => 'http://svenska-app.heroku.com/', :title => 'Link to "Svenska Flash Cards"', :class => "share" }
  svenska-app.heroku.com
  
:css
  .share {
    display: block;
    text-align: center;
    font-size: 160%;
  }
  
  .share img {
    margin-top: 20px;
  }