%p.previous= link_to('Previous', flash_card_path(@previous_flash_card), :id => 'previous') unless @previous_flash_card.nil?

%dl#flash_card.container
  %dt= @flash_card.question
  %dd= @flash_card.answer

%p.next= link_to('Next', flash_card_path(@next_flash_card), :id => 'next') unless @next_flash_card.nil?