!!! 5
%html
  %head
    %title Language
    = stylesheet_link_tag    "public"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    = yield

  %footer
    =link_to 'Svenska Flash Cards', root_path
    =link_to 'Add New', new_phrase_path