!!! 5
%html
  %head
    %title Svenska Flash Cards
    = stylesheet_link_tag    "public"
    = csrf_meta_tags
    %link{ :rel => "shortcut icon", :href => "/assets/sweden.ico" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1" }

  %body

    = yield

    %footer
      =link_to 'Svenska Flash Cards', root_path
      =link_to 'Add New', new_phrase_path
      =link_to 'Share', share_path

    = javascript_include_tag "application"